<article>
  <table class="board">
    <tr *ngFor="let row of crossword; let x = index">
      <td *ngFor="let cell of row; let y = index" [@cellState]="{ value: cell.state }"
        [@winAnimation]="randomizeCellPosition()" (click)="checkLetter(x, y)" class="square">
        {{cell.letter}}
      </td>
    </tr>
  </table>

  <button type="reset" (click)="resetCrossword()">Restart Crossword</button>

  <footer>
    <p>Number of clicked cells is {{ numberOfClickedCells() }} out of a word count of {{ sequence.length }}</p>
    <p *ngIf="numberOfClickedCells() >= sequence.length">The furthest the cells will move from the center: {{
      randomFactor() | number: '1.0-0' }} pixels</p>
  </footer>
</article>