<article>
  <table class="tablero">
    <tr *ngFor="let fila of sopaDeLetras; let x = index">
      <td *ngFor="let casilla of fila; let y = index" [@estadoDeCasilla]="{ value: casilla.estado }"
        [@animacionFinal]="posicionAleatoriaDeCasilla()" (click)="comprobarLetra(x, y)" class="casilla">
        {{casilla.letra}}
      </td>
    </tr>
  </table>

  <button type="reset" (click)="iniciarTablero()">Reiniciar Tablero</button>

  <footer>
    <p>Hay {{ numeroDeCasillasSeleccionadas() }} casillas seleccionadas de un total óptimo de {{ secuenciaDeLetras.length }}</p>
    <p *ngIf="numeroDeCasillasSeleccionadas() >= secuenciaDeLetras.length">Lo más lejos que se moverán las casillas desde el centro: {{
      factorAleatorio() | number: '1.0-0' }} píxeles</p>
  </footer>
</article>