:root {
  --light-old-color: #f2f1e8;
  --dark-old-color: #3b281a;
  --cell-background-color: #eee9cf;
  --wrong-cell-color: #cc3232;
}

body {
  background-color: var(--light-old-color);
  font-family: 'Cinzel', Courier, monospace;
  text-align: center;
  color: var(--dark-old-color);
}