:root {
  --color-viejo-claro: #f2f1e8;
  --color-viejo-oscuro: #3b281a;
  --color-casilla: #eee9cf;
  --color-casilla-incorrecta: #cc3232;
}

body {
  background-color: var(--color-viejo-claro);
  font-family: 'Cinzel', Courier, monospace;
  text-align: center;
  color: var(--color-viejo-oscuro);
}